doctype html
html
  head
    title = title
    <!-- link(rel='stylesheet', href='/stylesheets/main.css',type="text/css") -->
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css',type="text/css")
    link(rel='stylesheet', href='/stylesheets/jquery.togglelist.css',type="text/css")
    // script(src="https://togetherjs.com/togetherjs-min.js")
    script(src="/javascripts/sea.js",data-config="/javascripts/_config")
    script(src="/javascripts/thirdparty/jquery-1.9.1.min.js")
    script(src="/javascripts/thirdparty/underscore-1.5.1.js")
    script.
        seajs.use('/javascripts/main.js')
 body
    block content
    header(class="navbar navbar-fixed-top")
        div(class="navbar-inner")
            div(class="container")
                a(class="brand", href="javascript:;")晨帆起航
                div(class="nav-collapse collapse")
                    div(class="btn")[可定制小巧的前端组件]
                    form(class="navbar-form pull-right", method="post", action="http://mail.sohu.net/bapp/26/bizmain/userpasswd")
                        div(class="input-prepend")
                           span(class="add-on")
                             i(class="icon-envelope")
                           input(class="span2",type="text",placeholder="邮件地址", name="cfg_newpasswd", value="1111bbbb")
                           input(class="span2",type="password",placeholder="密码")
                           button(class="btn",type="submit", style="margin-top:0px;")登录
    div(class="container",id="toggle_list_content",style="margin-top:120px;")
    button(onclick="TogetherJS(this); return false;")点击加入聊天
    footer(class="")

